<div class="container">
    <div class="row mt-3">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Designation</th>
                <th scope="col">Salary</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Company Website</th>
                <th scope="col">Year of Exp</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>12345</td>
                <td>Ajml</td>
                <td>Java</td>
                <td>35000</td>
                <td>846338393</td>
                <td>aj@gmail.com</td>
                <td>xyz</td>
                <td>3</td>
              </tr>
              <tr>
                <td>12346</td>
                <td>as</td>
                <td>Python dvlpr</td>
                <td>30000</td>
                <td>45783927</td>
                <td>as@@gmail.com</td>
                <td>xyz</td>
                <td>7</td>
              </tr>
              
              
            </tbody>
          </table>
    </div>
</div>
